[Desktop Entry]
Version=0.92
Encoding=UTF-8
Hidden=false
Icon=ooo_writer.xpm
Type=MimeType
Patterns=*.sxw
MimeType=application/vnd.sun.xml.writer
Comment=OpenOffice.org 1.1.0 Text Document
Comment[en]=OpenOffice.org 1.1.0 Text Document
Comment[ru]=OpenOffice.org 1.1.0 Текстовый документ
Comment[el]=OpenOffice.org 1.1.0 Έγγραφο κειμένου
Comment[nl]=OpenOffice.org 1.1.0 Tekstdocument
Comment[fr]=OpenOffice.org 1.1.0 Texte
Comment[es]=Documento de texto de OpenOffice.org 1.1.0 
Comment[ca]=OpenOffice.org 1.1.0 Document de text
Comment[it]=OpenOffice.org 1.1.0 Documento di testo
Comment[da]=OpenOffice.org 1.1.0 Tekstdokument
Comment[sv]=OpenOffice.org 1.1.0-textdokument
Comment[pl]=OpenOffice.org 1.1.0 Dokument tekstowy
Comment[de]=OpenOffice.org 1.1.0 Textdokument
Comment[ja]=OpenOffice.org 1.1.0 文書ドキュメント
Comment[ko]=OpenOffice.org 1.1.0 텍스트 문서
Comment[zh_CN]=OpenOffice.org 1.1.0 文本文档
Comment[zh_TW]=OpenOffice.org 1.1.0 文字文件
Comment[tr]=PRODUCTNAME Metin belgesi
Comment[ar]=OpenOffice.org 1.1.0 مستند نص
Comment[fi]=OpenOffice.org 1.1.0 Textdokument
Comment[cs]=Textový dokument OpenOffice.org 1.1.0
Comment[he]=OpenOffice.org 1.1.0 Textdokument
Comment[pt_BR]=Documento texto OpenOffice.org 1.1.0
Comment[th]=OpenOffice.org 1.1.0 Textdokument
Comment[hi_IN]=OpenOffice.org 1.1.0 Textdokument
Comment[sk]=Textový dokument OpenOffice.org 1.1.0
Comment[pt]=OpenOffice.org 1.1.0 Textdokument
