[Desktop Entry]
Comment=Microsoft Excel spreadsheet
Hidden=false
Icon=spreadsheet
MimeType=application/vnd.ms-excel
Patterns=*.xls;*.XLS;*.csv
Type=MimeType
