[Desktop Entry]
Version=0.92
Encoding=UTF-8
Hidden=false
Icon=ooo_global.xpm
Type=MimeType
Patterns=*.sxg
MimeType=application/vnd.sun.xml.writer.global
Comment=OpenOffice.org 1.1.0 Master Document
Comment[en]=OpenOffice.org 1.1.0 Master Document
Comment[ru]=OpenOffice.org 1.1.0 Составной документ
Comment[el]=OpenOffice.org 1.1.0 Kύριο έγγραφο
Comment[nl]=OpenOffice.org 1.1.0 Masterdocument
Comment[fr]=OpenOffice.org 1.1.0 Document maître
Comment[es]=Documento maestro de OpenOffice.org 1.1.0 
Comment[it]=OpenOffice.org 1.1.0 Documento master
Comment[da]=OpenOffice.org 1.1.0 Hoveddokument
Comment[sv]=OpenOffice.org 1.1.0-samlingsdokument
Comment[pl]=OpenOffice.org 1.1.0 Dokument główny
Comment[de]=OpenOffice.org 1.1.0 Globaldokument
Comment[ja]=OpenOffice.org 1.1.0 マスタードキュメント
Comment[ko]=OpenOffice.org 1.1.0 마스터 문서
Comment[zh_CN]=OpenOffice.org 1.1.0 主控文档
Comment[zh_TW]=OpenOffice.org 1.1.0 主控文件
Comment[tr]=OpenOffice.org 1.1.0 Ana belge
Comment[ar]=OpenOffice.org 1.1.0 مستند شام?
Comment[fi]=OpenOffice.org 1.1.0 Globaldokument
Comment[cs]=Hlavní dokument OpenOffice.org 1.1.0
Comment[he]=OpenOffice.org 1.1.0 Globaldokument
Comment[ca]=OpenOffice.org 1.1.0 Globaldokument
Comment[pt_BR]=Documento Mestre OpenOffice.org 1.1.0
Comment[th]=OpenOffice.org 1.1.0 Globaldokument
Comment[hi_IN]=OpenOffice.org 1.1.0 Globaldokument
Comment[sk]=Hlavný dokument OpenOffice.org 1.1.0
Comment[pt]=OpenOffice.org 1.1.0 Globaldokument
