[Desktop Entry]
Version=0.92
Encoding=UTF-8
Hidden=false
Icon=ooo_draw_tpl.xpm
Type=MimeType
Patterns=*.std
MimeType=application/vnd.sun.xml.draw.template
Comment=OpenOffice.org 1.1.0 Drawing Template
Comment[en]=OpenOffice.org 1.1.0 Drawing Template
Comment[nl]=OpenOffice.org 1.1.0 Tekeningsjabloon
Comment[fr]=Modèle de dessin OpenOffice.org 1.1.0
Comment[es]=Plantilla de dibujo de OpenOffice.org 1.1.0
Comment[it]=Modello di disegno OpenOffice.org 1.1.0
Comment[da]=OpenOffice.org 1.1.0-tegningsskabelon
Comment[sv]=OpenOffice.org 1.1.0-teckningsmall
Comment[de]=OpenOffice.org 1.1.0 Zeichnungsvorlage
Comment[ja]=OpenOffice.org 1.1.0 図形描画テンプレート
Comment[ko]=OpenOffice.org 1.1.0 그리기 서식 파일
Comment[zh_CN]=OpenOffice.org 1.1.0 绘图样式
Comment[zh_TW]=OpenOffice.org 1.1.0 繪圖樣式
Comment[el]=OpenOffice.org 1.1.0 Zeichnungsvorlage
Comment[fi]=OpenOffice.org 1.1.0 Zeichnungsvorlage
Comment[cs]=Šablona kresby OpenOffice.org 1.1.0
Comment[ar]=OpenOffice.org 1.1.0 Zeichnungsvorlage
Comment[he]=OpenOffice.org 1.1.0 Zeichnungsvorlage
Comment[ca]=OpenOffice.org 1.1.0 Zeichnungsvorlage
Comment[pl]=OpenOffice.org 1.1.0 Zeichnungsvorlage
Comment[pt_BR]=Modelo de desenho OpenOffice.org 1.1.0
Comment[tr]=OpenOffice.org 1.1.0 Zeichnungsvorlage
Comment[th]=OpenOffice.org 1.1.0 Zeichnungsvorlage
Comment[hi_IN]=OpenOffice.org 1.1.0 Zeichnungsvorlage
Comment[sk]=Šablóna kresby OpenOffice.org 1.1.0
Comment[pt]=OpenOffice.org 1.1.0 Zeichnungsvorlage
Comment[ru]=OpenOffice.org 1.1.0 Zeichnungsvorlage
