[Desktop Entry]
Version=0.92
Encoding=UTF-8
Hidden=false
Icon=ooo_calc.xpm
Type=MimeType
Patterns=*.sxc
MimeType=application/vnd.sun.xml.calc
Comment=OpenOffice.org 1.1.0 Spreadsheet
Comment[en]=OpenOffice.org 1.1.0 Spreadsheet
Comment[ru]=OpenOffice.org 1.1.0 Электронная таблица
Comment[el]=OpenOffice.org 1.1.0 Πίνακας
Comment[nl]=OpenOffice.org 1.1.0 Tabel
Comment[fr]=OpenOffice.org 1.1.0 Classeur
Comment[es]=Hoja de cálculo de OpenOffice.org 1.1.0 
Comment[cd]=OpenOffice.org 1.1.0 Crea
Comment[it]=OpenOffice.org 1.1.0 Tabella
Comment[da]=OpenOffice.org 1.1.0 Tabel
Comment[sv]=OpenOffice.org 1.1.0-tabell
Comment[pl]=OpenOffice.org 1.1.0 Arkusz
Comment[de]=OpenOffice.org 1.1.0 Tabelle
Comment[ja]=OpenOffice.org 1.1.0 表計算
Comment[ko]=OpenOffice.org 1.1.0 스프레드시트
Comment[zh_CN]=OpenOffice.org 1.1.0 工作表
Comment[zh_TW]=OpenOffice.org 1.1.0 工作表
Comment[tr]=OpenOffice.org 1.1.0 Tablo
Comment[fi]=OpenOffice.org 1.1.0 Tabelle
Comment[cs]=Sešit OpenOffice.org 1.1.0
Comment[ar]=OpenOffice.org 1.1.0 Tabelle
Comment[he]=OpenOffice.org 1.1.0 Tabelle
Comment[ca]=OpenOffice.org 1.1.0 Tabelle
Comment[pt_BR]=Planilha OpenOffice.org 1.1.0
Comment[th]=OpenOffice.org 1.1.0 Tabelle
Comment[hi_IN]=OpenOffice.org 1.1.0 Tabelle
Comment[sk]=Tabuľka OpenOffice.org 1.1.0
Comment[pt]=OpenOffice.org 1.1.0 Tabelle
