[Desktop Entry]
Version=0.92
Encoding=UTF-8
Hidden=false
Icon=ooo_writer_tpl.xpm
Type=MimeType
Patterns=*.stw
MimeType=application/vnd.sun.xml.writer.template
Comment=OpenOffice.org 1.1.0 Text Document Template
Comment[en]=OpenOffice.org 1.1.0 Text Document Template
Comment[nl]=OpenOffice.org 1.1.0 Tekstdocumentsjabloon
Comment[fr]=Modèle de texte OpenOffice.org 1.1.0
Comment[es]=Plantilla de documento de texto de OpenOffice.org 1.1.0
Comment[it]=Modello di documento di testo OpenOffice.org 1.1.0
Comment[da]=OpenOffice.org 1.1.0-tekstdokumentskabelon
Comment[sv]=OpenOffice.org 1.1.0-textdokumentmall
Comment[de]=OpenOffice.org 1.1.0 Textdokumentvorlage
Comment[ja]=OpenOffice.org 1.1.0 文書ドキュメント テンプレート
Comment[ko]=OpenOffice.org 1.1.0 텍스트 문서 서식 파일
Comment[zh_CN]=OpenOffice.org 1.1.0 文本文档样式
Comment[zh_TW]=OpenOffice.org 1.1.0 文字文件樣式
Comment[el]=OpenOffice.org 1.1.0 Textdokumentvorlage
Comment[fi]=OpenOffice.org 1.1.0 Textdokumentvorlage
Comment[cs]=Šablona textového dokumentu OpenOffice.org 1.1.0
Comment[ar]=OpenOffice.org 1.1.0 Textdokumentvorlage
Comment[he]=OpenOffice.org 1.1.0 Textdokumentvorlage
Comment[ca]=OpenOffice.org 1.1.0 Textdokumentvorlage
Comment[pl]=OpenOffice.org 1.1.0 Textdokumentvorlage
Comment[pt_BR]=Modelo de documento texto OpenOffice.org 1.1.0
Comment[tr]=OpenOffice.org 1.1.0 Textdokumentvorlage
Comment[th]=OpenOffice.org 1.1.0 Textdokumentvorlage
Comment[hi_IN]=OpenOffice.org 1.1.0 Textdokumentvorlage
Comment[sk]=Šablóna textového dokumentu OpenOffice.org 1.1.0
Comment[pt]=OpenOffice.org 1.1.0 Textdokumentvorlage
Comment[ru]=OpenOffice.org 1.1.0 Textdokumentvorlage
