[Desktop Entry]
Version=0.92
Encoding=UTF-8
Hidden=false
Icon=ooo_calc_tpl.xpm
Type=MimeType
Patterns=*.stc
MimeType=application/vnd.sun.xml.calc.template
Comment=OpenOffice.org 1.1.0 Spreadsheet Template
Comment[en]=OpenOffice.org 1.1.0 Spreadsheet Template
Comment[nl]=OpenOffice.org 1.1.0 Werkbladsjabloon
Comment[fr]=Modèle de classeur OpenOffice.org 1.1.0
Comment[es]=Plantilla de hoja de cálculo de OpenOffice.org 1.1.0
Comment[it]=Modello di foglio elettronico OpenOffice.org 1.1.0
Comment[da]=OpenOffice.org 1.1.0-regnearksskabeloner
Comment[sv]=OpenOffice.org 1.1.0-tabellmall
Comment[de]=OpenOffice.org 1.1.0 Tabellenvorlage
Comment[ja]=OpenOffice.org 1.1.0 表計算テンプレート
Comment[ko]=OpenOffice.org 1.1.0 스프레드시트 서식 파일
Comment[zh_CN]=OpenOffice.org 1.1.0 工作表样式
Comment[zh_TW]=OpenOffice.org 1.1.0 工作表樣式
Comment[el]=OpenOffice.org 1.1.0 Tabellenvorlage
Comment[fi]=OpenOffice.org 1.1.0 Tabellenvorlage
Comment[cs]=Šablona sešitu OpenOffice.org 1.1.0
Comment[ar]=OpenOffice.org 1.1.0 Tabellenvorlage
Comment[he]=OpenOffice.org 1.1.0 Tabellenvorlage
Comment[ca]=OpenOffice.org 1.1.0 Tabellenvorlage
Comment[pl]=OpenOffice.org 1.1.0 Tabellenvorlage
Comment[pt_BR]=Modelo de planilha OpenOffice.org 1.1.0
Comment[tr]=OpenOffice.org 1.1.0 Tabellenvorlage
Comment[th]=OpenOffice.org 1.1.0 Tabellenvorlage
Comment[hi_IN]=OpenOffice.org 1.1.0 Tabellenvorlage
Comment[sk]=Šablóna tabuľky OpenOffice.org 1.1.0
Comment[pt]=OpenOffice.org 1.1.0 Tabellenvorlage
Comment[ru]=OpenOffice.org 1.1.0 Tabellenvorlage
