[Desktop Entry]
Version=0.92
Encoding=UTF-8
Hidden=false
Icon=ooo_draw.xpm
Type=MimeType
Patterns=*.sxd
MimeType=application/vnd.sun.xml.draw
Comment=OpenOffice.org 1.1.0 Drawing
Comment[en]=OpenOffice.org 1.1.0 Drawing
Comment[ru]=OpenOffice.org 1.1.0 Рисунок
Comment[el]=OpenOffice.org 1.1.0 Σχέδιο
Comment[nl]=OpenOffice.org 1.1.0 Tekening
Comment[fr]=OpenOffice.org 1.1.0 Dessin
Comment[es]=Dibujo OpenOffice.org 1.1.0
Comment[ca]=OpenOffice.org 1.1.0 Dibuix
Comment[it]=OpenOffice.org 1.1.0 Disegno
Comment[da]=OpenOffice.org 1.1.0 Tegning
Comment[sv]=OpenOffice.org 1.1.0-teckning
Comment[pl]=OpenOffice.org 1.1.0 Rysunek
Comment[de]=OpenOffice.org 1.1.0 Zeichnung
Comment[ja]=OpenOffice.org 1.1.0 図形描画
Comment[ko]=OpenOffice.org 1.1.0 그리기
Comment[zh_CN]=OpenOffice.org 1.1.0 绘图
Comment[zh_TW]=OpenOffice.org 1.1.0 繪圖
Comment[tr]=OpenOffice.org 1.1.0 Çizim
Comment[ar]=OpenOffice.org 1.1.0 رسم
Comment[fi]=OpenOffice.org 1.1.0 Zeichnung
Comment[cs]=Kresba OpenOffice.org 1.1.0
Comment[he]=OpenOffice.org 1.1.0 Zeichnung
Comment[pt_BR]=Desenho OpenOffice.org 1.1.0
Comment[th]=OpenOffice.org 1.1.0 Zeichnung
Comment[hi_IN]=OpenOffice.org 1.1.0 Zeichnung
Comment[sk]=Kresba OpenOffice.org 1.1.0
Comment[pt]=OpenOffice.org 1.1.0 Zeichnung
