[Desktop Entry]
Encoding=UTF-8
Type=Link
URL=https://my.oracle.com/site/git/cnt2721210
Icon=/opt/desktop/icons/oracle_2.png
Name[en_US]=Oracle WiFi Linux Setup
